:root {
  --animate-duration: 1300ms;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

main::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0d3b66;
}

main::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #a69cac;
}
