@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'raleway-regular';
  font-weight: 400;
  src: url('/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'raleway-semi';
  font-weight: 600;
  src: url('/fonts/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'raleway-bold';
  font-weight: 700;
  src: url('/fonts/Raleway-Bold.ttf');
}

.navbar__button {
  @apply max-w-full px-0 py-2 mx-4 outline-none text-indigoDye;
}

.navbar__button:target {
  @apply bg-none;
}

.table__thead__th {
  @apply px-6 py-3 text-sm tracking-wider text-left uppercase text-indigoDye font-semi bg-almond;
}

.table__tbody__td {
  @apply px-6 py-4 text-sm text-orangeSoda;
}

@screen lg {
  .navbar__button {
    @apply p-4;
  }

  .navbar__button:hover,
  .navbar__button.selected {
    @apply underline text-orangeSoda;
  }

  .navbar__button.first {
    @apply mt-0;
  }
}
